
<style>
    .imgRow img {
        width: 10vw;
        height: 10vh;
    }

    .toolEll {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
    }
    table.dataTable tbody th, table.dataTable tbody td {
    padding: 29px 15px;
}
</style>

<main class="main-wrap" id="main">


      <span id="banmsg" style="color: red;"></span>

{{#if banner}}
    <table class="table table-striped" style="color: #005cfa; text-align: center;" id="bannerTable">
        <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Banner</th>
                <th scope="col">Banner Title</th>
                <th scope="col">Banner SubTitle</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {{#each banner}}
            <tr id="{{this._id}}">
                <th scope="row" class="index"></th>
                <td class="imgRow"><img src="/uploads/{{this.images}}" alt=""></td>
                <td class="toolEll"><h6>{{this.title}}</h6></td>
                <td class="toolEll"><h6>{{this.subTitle}}</h6></td>
                <td><button onclick="removebanner('{{this._id}}')" class="btn btn-danger">Remove</button></td>
            </tr>
            {{/each}}
            
        </tbody>
    </table> 
     
    <a class="btn btn-primary" id="addBtn" href="/admin/addbanner">Add Banner</a>
    {{else}} 
    <div style="text-align: center;" class="m-5">

    <h5>No Banner To Show</h5>
     <a class="btn btn-primary" id="addBtn" href="/admin/addbanner">Add Banner</a>
    </div>
    {{/if}}

    


</main>


<script>
    function removebanner(bannerId){
        $.ajax({
            url: '/admin/removebanner',
            method: 'POST',
            data: {
                bannerId: bannerId
            },
            success: function(response){
                if( response.length == false){
                    document.getElementById("banmsg").innerHTML = 'Cannot Remove Banner. There Should Be Atleast One Active Banner';
                }else if(response.status){
                    document.getElementById(bannerId).style.display = 'none';

                }else{
                  window.location.reload();

                }
            }
        })
    }
</script>


<script>
    let index = document.getElementsByClassName('index');

    for (let i = 0; i < index.length; i++) {
        index[i].innerHTML = i + 1;
    }
</script>
<script>

$(document).ready( function () {
    $('#bannerTable').DataTable();
} );
</script>
