  <body>
    <main class="main-wrap">
      <section class="content-main">
        <form action="/admin/products/edit/{{product._id}}" method="post" enctype="multipart/form-data">
          <div class="content-header">
            <h2 class="content-title">EDIT PRODUCT</h2>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="form-group">
                    <h6>1. General Info</h6>
                    <label class="form-label">Product Title</label>
                    <input type="text" placeholder="Type Here" class="form-control" maxlength="200" minlength="3" maxlength="50" pattern="[A-Za-z\s]+" name="prodtitle" id="pname" required value="{{product.productName}}">
                  </div>
                  <div class="form-group">
                    <label class="form-label">Description</label>
                    <textarea placeholder="Type Here" class="form-control" rows="1" name="proddescr"   minlength="5" pattern="[A-Za-z\s]+" id="pdesc" required> {{product.description}}</textarea>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Brand Name</label>
                    <input type="text" placeholder="Type Here" class="form-control" name="prodbrand"  minlength="5" maxlength="50"  id="pbrand" pattern="[A-Za-z\s]+"  value="{{product.brand}}" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Stock</label>
                    <input id="stock" type="text" required  pattern="[0-9]*" title="Stock Count Should Not Be Less Than 0" placeholder="0" class="form-control" name="prodstock" value="{{product.stock}}" >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="form-group">
                    <h6>2. Pricing</h6>
                    <label class="form-label">Regular Price</label>
                    <input id="price" type="text" class="form-control" name="prodrprice" pattern="[0-9]*" title="Price Should Not Be Less Than 0"  value="{{product.regularPrice}}" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Discount Rate</label>
                    <input id="discount" type="text" placeholder="%" class="form-control" name="proddisc" title="Discount Percentage Should Be Between 0 & 100" pattern="[0-9]*" value="{{product.discount}}" required>
                  </div>
            <button onclick="return validate()" class="btn btn-outline-success" style="width: 33vw;">SUBMIT</button>

                </div>

              </div>
            <span id="errmsg" style="color: red;"></span>
            </div>

            <div class="form-group">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {{#each category}}  
                  <a style="cursor: pointer;" id="catList" class="dropdown-item" onclick="select('{{this.name}}', '{{this._id}}')">{{this.name}}</a>
                  {{/each}}
                </div>
              </div>
              <br>
              <input type="text" class="form-control" id="category" name="prodcategor" readonly value="{{product.category.name}}" required>
              <input type="hidden" class="form-control" id="categoryId" name="prodcategoryid" readonly value="{{product.category._id}}" required>
            </div>

            <div class="form-group">
              <label for="image1">Image</label>


             
              <div class="custom-file">
                <input type="file" class="custom-file-input mt-5" id="image" value="{{product.image}}" name="productImage" multiple>
                <label class="custom-file-label" for="image">Choose Images</label>
              </div>

            

            <!-- Rest of the form -->

          </div>
        </form>
      </section>
              <input type="hidden" class="form-control" id="prodid" name="prodcategoryid" readonly value="{{product._id}}" required>

       <div class="d-flex flex-wrap">
  {{#each product.image}}
  <div class="image-container mb-3 mr-3">
    <img src="/uploads/{{this}}" alt="IMG" class="mr-2" style="width: 100px; height: 100px;">

    <button class="btn btn-outline-danger delete-btn" data-filename="{{this}}" onclick="deleteimg('{{this}}')" value="{{this}}" style="height: 30px;">Delete</button>
  </div>
  {{/each}}
</div>
            <span id="imgmsg" style="color: red;"></span>

  <div id="preview-images" class="uploaded-images" style="height: 90px;width: 90px;">
            
              </div>
            </div>

    </main>

    <script>
    
      // Handle file input change event
      const fileInput = document.getElementById('image');
      const previewImages = document.getElementById('preview-images');

      fileInput.addEventListener('change', function () {
        previewImages.innerHTML = ''; // Clear previous preview images

        // Get selected files
        const files = fileInput.files;

        // Display preview for each selected file
        for (let i = 0; i < files.length; i++) {
          const file = files[i];
          const reader = new FileReader();

          // Read the file as a data URL
          reader.readAsDataURL(file);

          // Handle the file load event
          reader.onload = function () {
            const img = document.createElement('img');
            img.src = reader.result;
            img.alt = 'Selected Image';

            previewImages.appendChild(img);
          }
        }
      });

    // Handle delete button click event
  {{!-- const deleteButtons = document.querySelectorAll('.delete-btn');

  deleteButtons.forEach(button => {
    button.addEventListener('click', function () {
      const filename = this.getAttribute('data-filename');
      const imageContainer = this.parentNode;

      // Send an AJAX request to delete the image from the server
      fetch(`/admin/products/delete-image/${filename}`, {
        method: 'DELETE'
      })
        .then(response => {
          if (response.ok) {
            // Remove the image container from the DOM
            imageContainer.parentNode.removeChild(imageContainer);
          }
        })
        .catch(error => {
          console.error(error);
        });
    });
  }); --}}


      function select(categoryName, id) {
        let category = document.getElementById("category");
        let categoryId = document.getElementById("categoryId");
        category.value = categoryName;
        categoryId.value = id;
      }

      function validate() {
  let pname = document.getElementById('pname').value.trim();
  let pdesc = document.getElementById('pdesc').value.trim();
  let pbrand = document.getElementById('pbrand').value.trim();
  let stock = document.getElementById('stock').value.trim();
  let price = document.getElementById('price').value.trim();
  let discount = document.getElementById('discount').value.trim();
  let errmsg = document.getElementById('errmsg');

const regex = /^[A-Za-z\s]+$/;

  if (pname === '' || !regex.test(pname)) {
    errmsg.innerHTML = "Enter a Valid Product Name";
    return false;
  } else if (pdesc === '' || !regex.test(pdesc)) {
    errmsg.innerHTML = "Enter a Valid Product Description";
    return false;
  } else if (pbrand === '' || !regex.test(pbrand)) {
    errmsg.innerHTML = "Enter a Valid Brand Name";
    return false;
  } else if (stock < 0) {
    errmsg.innerHTML = "Stock Quantity Should Not Be Less Than 0";
    return false;
  } else if (price <= 0) {
    errmsg.innerHTML = "Price Should Be Greater Than 0";
    return false;
  } else if (discount <= 0) {
    errmsg.innerHTML = "Discount Percentage Should Be Between 0 & 100";
    return false;
    } else if (discount > 100) {
    errmsg.innerHTML = "Discount Percentage Should Be Between 0 & 100";
    return false;
  } else {
    return true;
  }
}

    </script>


<script>
  function deleteimg(imgId){
    let productId = document.getElementById('prodid').value.trim();
    {{!-- alert(imgId+" "+productId); --}}
    $.ajax({
            url: "/admin/deleteimg",
            method: "POST",
            data: { 
              imgId:imgId, 
            productId:productId
             },
            success: function (res) {
               swal({
            title: "",
            text: "Image Is Deleted",
            icon: "success",
            buttons: {
              ok: {
                text: "OK",
                value: true,
                visible: true,
                className: "",
                closeModal: true
              }
            }
          }).then(function (value) {
            if (value) {
              window.location.reload();
            }
          });
               

               
                }
               
                
               
            })
        }


</script>
   