<head>
    <title>Sales Report</title>
</head>
<style>
    table.dataTable tbody td {
    padding: 20px -7px;
   
}
</style>
<main class="main-wrap">

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Sales Report</h2>

            </div>

        </div>
        <div class="card mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="salestable">
                        <thead>
                            <tr>

                                <th scope="col">Date</th>
                                <th scope="col">Delivery Address</th>
                                <th scope="col">Order No</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Status</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount</th>
                                
                            </tr>
                        </thead>
                        <tbody>{{#each orders}}
                        <tr>
                            <td id="date">{{this.order.date}}</td>
                            <td id="ddate">{{this.order.address.fname}} {{this.order.address.lname}}, {{this.order.address.houseName}}, {{this.order.address.landmark}}, {{this.order.address.city}}, {{this.order.address.district}}, {{this.order.address.state}}, {{this.order.address.pincode}}, {{this.order.address.country}}</td>
                            <td><a style="color: black;">{{this.order.orderNo}}</a></td>
                            
                        
                         
                        
                            <td>{{this.order.paymentMethod}}</td>
                         
                            
                           
                            {{#if (eq this.order.status 'Cancelled') }}
                            <td style="color:red">{{order.status}}</td>
                            {{else if (eq this.order.status 'Pending')}}
                            <td style="color:rgb(250, 196, 35)">{{order.status}}</td>
                            {{else if (eq this.order.status 'Returned')}}
                            <td style="color:rgb(0, 98, 255)">{{order.status}}</td>
                              {{else if (eq this.order.status 'Delivered')}}
                                <td style="color:rgb(204, 0, 255)">{{order.status}}</td>
                            {{else}}
                            <td style="color:green">{{this.order.status}}</td>
                            {{/if}}
                 
                          <td>₹{{this.order.totalAmount}}</td>
                          <td>₹{{this.order.discount}}</td>
                        
                   
                        
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->

    </section> <!-- content-main end// -->

</main>
 <script>
        $(document).ready(function() {
      $('#salestable').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });
      </script>
