<!--================Cart Area =================-->

<style>
  @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

  body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important;
  }

  .mt-100 {
    margin-top: 100px;

  }


  .card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
  }

  .card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }


  #prodname {
    font-size: 16px;
    font-weight: 900;
    line-height: 13px;
    margin-bottom: 6px;
    margin-left: 10px;

  }

  .card .card-body {
    padding: 30px;
    background-color: transparent;
  }

  .btn-primary,
  .btn-primary.disabled,
  .btn-primary:disabled {
    background-color: #4466f2 !important;
    border-color: #4466f2 !important;
  }
</style>
{{#if emptyCart}}
<div class="card-body cart">
  <div class="col-sm-12 empty-cart-cls text-center">
    <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
    <h3><strong>Your Cart is Empty</strong></h3>

    <a href="/products" class="btn btn-success cart-btn-transform m-3" data-abc="true">Continue Shopping</a>
  </div>
</div>
{{else}}
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Option</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <td>
                <div class="media" onclick="showProduct('{{this.product._id}}')">
                  <img src="/uploads/{{this.product.image.[0]}}" alt="prod image" style="height: 100px;width: 100px;" />
                  <div class="media-body">
                    <p> <span id="prodname">{{this.product.productName}}</span></p>
                  </div>
                </div>
              </td>
              <td>
                <h5>₹{{this.product.regularPrice}}</h5>
              </td>
              <td>
                ̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥
                <div class="product_count">
                  <input type="text" name="qty" id="{{this._id}}" maxlength="12" value="{{this.quantity}}"
                    title="Quantity:" class="input-text qty" readonly />

                  <button onclick="add_quantity('{{this._id}}','{{this.product._id}}')" class="increase items-count"
                    type="button">
                    <i class="lnr lnr-chevron-up"></i>
                  </button>

                  <button onclick="less_quantity('{{this._id}}','{{this.product._id}}')" class="reduced items-count"
                    type="button">
                    <i class="lnr lnr-chevron-down"></i>
                  </button>

                </div>
              </td>
              <td>
                <h5 class="totalPrice">₹{{this.productTotal}}</h5>
              </td>
              <td>
                <button class="btn btn-outline-danger" onclick="removeCartItem('{{this.product._id}}')">Remove
                  Item</button>

              </td>
            </tr>

            {{/each}}
            <tr>
              <td></td>
              <td></td>
              <td>
                <h4>Subtotal</h4>
              </td>
              <td>
                <span>
                  ₹<span id="subtotal">{{subtotal}}</span>
                </span>
              </td>
              <td></td>
            </tr>
            <tr class="out_button_area">
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="checkout_btn_inner">
                  <a class="gray_btn" href="/products ">Continue Shopping</a>
                  <a class="main_btn" href="/checkout">Proceed to checkout</a>
                </div>
              </td>
              <td></td>
            </tr>

          </tbody>
          <p id="quantitymsg" style="display: none;color: red;font-size: medium;" class="md-3">Maximum Product Quantity
            Reached. Can't Add More Quantity</p>
        </table>
        {{/if}}
      </div>
    </div>
  </div>



</section>


<!--================End Cart Area =================-->



<!-- Popup Dialog Box HTML -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Remove Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this item from your cart?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" onclick="remove(true)">Remove</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
          onclick="remove(false)">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Popup Dialog Box HTML END -->


<!-- Popup Dialog Box Script -->
<script>
  let currentItem;

  function removeCartItem(itemId) {
    currentItem = itemId;
    showConfirmationModal();
  }

  function showConfirmationModal() {
    $('#confirmationModal').modal('show');
  }

  function remove(remove) {

    if (remove) {
      $.ajax({
        url: '/removeFromCart?itemId=' + currentItem,
        method: 'POST',
        success: function (response) {
          window.location.reload();

          currentItem = null;
        }
      });
    }
    currentItem = null;
  }
  function showProduct(id) {
    let prodid = id
    $.ajax({
      url: "single-product/" + prodid,
      method: 'GET',
      success: function (response) {

      }
    });
  }
</script>
<!-- Popup Dialog Box Script END -->

{{!-- script to add and minus quantity --}}
<script>


  function update() {

    let subtotal = +document.getElementById('subtotal').innerText;

    if (subtotal == 0) {
    }
  }; update();

  function manageQuantity(productId) {
    return new Promise((resolve, reject) => {
      let stock;
      $.ajax({
        url: '/getQuantity',
        method: 'POST',
        data: { productId: productId },
        success: function (response) {
          stock = response.stock;
        }
      }).then(() => {
        resolve(stock)
      })
    })
  }

  function add_quantity(itemId, productId) {
    let quantity = document.getElementById(itemId).value;
    manageQuantity(productId).then((stock) => {
      if (quantity < stock) {
        addQuantity(itemId, productId);
        quantity++;
      } else {
        showQuantityMsg(); // Show the message when quantity reaches maxQuantity
      }
      document.getElementById(itemId).value = quantity;
    })
  }

  function less_quantity(itemId, productId) {
    let quantity = +document.getElementById(itemId).value;
    if (quantity > 1) {
      minusQuantity(itemId, productId);
      quantity--;
      hideQuantityMsg(); // Hide the message when quantity is greater than 1

    }
    document.getElementById(itemId).value = quantity;
  }
  function showQuantityMsg() {
    document.getElementById('quantitymsg').style.display = "block";
  }

  function hideQuantityMsg() {
    document.getElementById('quantitymsg').style.display = "none";
  }


  function addQuantity(itemId, productId) {
    let subtotal = 0;
    $.ajax({
      url: "/addQuantity?itemId=" + itemId,
      method: "POST",
      data: { productId: productId },
      success: function (res) {
        console.log(res);

        let total = document.getElementsByClassName('totalPrice')
        let item = res.cart.items;


        for (let i = 0; i < item.length; i++) {
          console.log(item[i])
          total[i].innerHTML = "₹" + item[i].product.regularPrice * item[i].quantity;
          subtotal = subtotal + (item[i].product.regularPrice * item[i].quantity);
        }
        document.getElementById('subtotal').innerHTML = subtotal
        update();


      }
    })
  }


  function minusQuantity(itemId, productId) {
    let subtotal = 0;
    $.ajax({
      url: "/reduceQuantity?itemId=" + itemId,
      method: "POST",
      data: { productId: productId },
      success: function (res) {
        console.log('fff', res);
        let total = document.getElementsByClassName('totalPrice')
        let item = res.cart.items;
        for (let i = 0; i < item.length; i++) {
          console.log(item[i])
          total[i].innerHTML = "₹" + item[i].product.regularPrice * item[i].quantity;
          subtotal += (item[i].product.regularPrice * item[i].quantity)
        }
        console.log(subtotal)
        document.getElementById('subtotal').innerHTML = subtotal;
        update();

      }
    })
  }


</script>